PosteDataFactory/PartialArmTemplates/ArmTemplate_1_13_2021_21_37_31.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "PosteDataFactory"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingest_population')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy population data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "popolazione//population.tsv.gz"
							},
							{
								"name": "Destination",
								"value": "raw//population.tsv"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "indic_de,geo\\time",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indic_de,geo\\time",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2008",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2008",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2009",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2009",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2010",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2010",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2011",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2011",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2012",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2012",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2013",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2013",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2014",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2014",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2015",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2015",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2016",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2016",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2017",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2017",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2018",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2018",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "2019",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "2019",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_population_compressed",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ds_population_datalake",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Copy data to Database",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dataflow1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:05:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "raw//population.tsv"
							},
							{
								"name": "Destination",
								"value": "dbo.POPULATION"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "TRUNCATE TABLE POPULATION",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "indic_de,geo\\time",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GEO_TIME",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "2008",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2008",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2009",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2009",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2010",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2010",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2011",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2011",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2012",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2012",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2013",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2013",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2014",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2014",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2015",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2015",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2016",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2016",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2017",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2017",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2018",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2018",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "2019",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "F2019",
											"type": "Double",
											"physicalType": "float"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_population_datalake",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ds_sql_database_poste_population",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "dataflow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy population data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"concurrency": 1,
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_population_compressed')]",
				"[concat(variables('factoryId'), '/datasets/ds_population_datalake')]",
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_population_compressed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_population_compressed",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "population_filled.tsv.gz",
						"container": "popolazione"
					},
					"columnDelimiter": "\t",
					"compressionCodec": "gzip",
					"compressionLevel": "Optimal",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "indic_de,geo\\time",
						"type": "String"
					},
					{
						"name": "2008",
						"type": "String"
					},
					{
						"name": "2009",
						"type": "String"
					},
					{
						"name": "2010",
						"type": "String"
					},
					{
						"name": "2011",
						"type": "String"
					},
					{
						"name": "2012",
						"type": "String"
					},
					{
						"name": "2013",
						"type": "String"
					},
					{
						"name": "2014",
						"type": "String"
					},
					{
						"name": "2015",
						"type": "String"
					},
					{
						"name": "2016",
						"type": "String"
					},
					{
						"name": "2017",
						"type": "String"
					},
					{
						"name": "2018",
						"type": "String"
					},
					{
						"name": "2019",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_population_datalake')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_blob_population_datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "population.tsv",
						"fileSystem": "raw"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "indic_de,geo\\time",
						"type": "String"
					},
					{
						"name": "2008",
						"type": "String"
					},
					{
						"name": "2009",
						"type": "String"
					},
					{
						"name": "2010",
						"type": "String"
					},
					{
						"name": "2011",
						"type": "String"
					},
					{
						"name": "2012",
						"type": "String"
					},
					{
						"name": "2013",
						"type": "String"
					},
					{
						"name": "2014",
						"type": "String"
					},
					{
						"name": "2015",
						"type": "String"
					},
					{
						"name": "2016",
						"type": "String"
					},
					{
						"name": "2017",
						"type": "String"
					},
					{
						"name": "2018",
						"type": "String"
					},
					{
						"name": "2019",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_population_datalake",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_sql_database_poste_population",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "DerivedColumn1"
						}
					],
					"script": "source(output(\n\t\t{indic_de,geo\\time} as string,\n\t\t{2008} as float '##0.##',\n\t\t{2009} as float '##0.##',\n\t\t{2010} as float '##0.##',\n\t\t{2011} as float '##0.##',\n\t\t{2012} as float '##0.##',\n\t\t{2013} as float '##0.##',\n\t\t{2014} as float '##0.##',\n\t\t{2015} as float '##0.##',\n\t\t{2016} as float '##0.##',\n\t\t{2017} as float '##0.##',\n\t\t{2018} as float '##0.##',\n\t\t{2019} as float '##0.##'\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 derive({2008} = iifNull({2008}, 0),\n\t\t{2009} = iifNull({2009}, 0),\n\t\t{2010} = iifNull({2010}, 0),\n\t\t{2011} = iifNull({2011}, 0),\n\t\t{2012} = iifNull({2012}, 0),\n\t\t{2013} = iifNull({2013}, 0),\n\t\t{2014} = iifNull({2014}, 0),\n\t\t{2015} = iifNull({2015}, 0),\n\t\t{2016} = iifNull({2016}, 0),\n\t\t{2017} = iifNull({2017}, 0),\n\t\t{2018} = iifNull({2018}, 0),\n\t\t{2019} = iifNull({2019}, 0)) ~> DerivedColumn1\nDerivedColumn1 sink(input(\n\t\tGEO_TIME as string,\n\t\tF2008 as double,\n\t\tF2009 as double,\n\t\tF2010 as double,\n\t\tF2011 as double,\n\t\tF2012 as double,\n\t\tF2013 as double,\n\t\tF2014 as double,\n\t\tF2015 as double,\n\t\tF2016 as double,\n\t\tF2017 as double,\n\t\tF2018 as double,\n\t\tF2019 as double,\n\t\tF2020 as double,\n\t\tF2021 as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tGEO_TIME = {indic_de,geo\\time},\n\t\tF2008 = {2008},\n\t\tF2009 = {2009},\n\t\tF2010 = {2010},\n\t\tF2011 = {2011},\n\t\tF2012 = {2012},\n\t\tF2013 = {2013},\n\t\tF2014 = {2014},\n\t\tF2015 = {2015},\n\t\tF2016 = {2016},\n\t\tF2017 = {2017},\n\t\tF2018 = {2018}\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_population_datalake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_dl_population_filled')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://postedatalake.dfs.core.windows.net",
					"accountKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_population_filled')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_dl_population_filled",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "population_filled.tsv",
						"fileSystem": "raw"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_dl_population_filled')]"
			]
		}
	]
}