pipeline/pl_population_files.json
{
	"name": "pl_population_files",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_datalake_populations_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemName",
						"itemType",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "contains(@item().name, 'population')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Stored procedure1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:05:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[PR_LogRepository]",
											"storedProcedureParameters": {
												"Command": {
													"value": "Insert",
													"type": "String"
												},
												"Dataora": {
													"value": "",
													"type": "DateTime"
												},
												"Filename": {
													"value": "",
													"type": "String"
												},
												"Id": {
													"value": "",
													"type": "Int64"
												},
												"IsLoaded": {
													"value": "",
													"type": "Boolean"
												},
												"IsMoved": {
													"value": "",
													"type": "Boolean"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "ls_db_sql_azure",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"queue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}