pipeline/pl_population_files.json
{
	"name": "pl_population_files",
	"properties": {
		"activities": [
			{
				"name": "GetListOfFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_datalake_populations_files",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"itemName",
						"itemType",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FileFilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FileFilter').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@and(contains(item().name, 'population'), equals(item().type, 'file'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "UpsertWithLoadedStored",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PR_LogRepository]",
								"storedProcedureParameters": {
									"Command": {
										"value": "Upsert",
										"type": "String"
									},
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"IsLoaded": {
										"value": "true",
										"type": "Boolean"
									},
									"IsMoved": {
										"value": null,
										"type": "Boolean"
									},
									"Message": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_db_sql_azure",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "UpsertNotLoadedStored",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "If Condition1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.00:05:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PR_LogRepository]",
								"storedProcedureParameters": {
									"Command": {
										"value": "Upsert",
										"type": "String"
									},
									"Filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"IsLoaded": {
										"value": "false",
										"type": "Boolean"
									},
									"IsMoved": {
										"value": null,
										"type": "Boolean"
									},
									"Message": {
										"value": null,
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_db_sql_azure",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "AdaptNullDataflow",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "UpsertWithLoadedStored",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "AdaptNullDataflow",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "FileFilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetListOfFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListOfFiles').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(endswith(item().name, 'tsv'), equals(item().type, 'File'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"queue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}